/* ../styles/deworkexports.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: rgb(var(--foreground-rgb));
}

.select {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: rgb(var(--background-end-rgb));
  color: rgb(var(--foreground-rgb));
}

.table {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: rgb(var(--background-end-rgb));
}

.tableHeader {
  border: 1px solid #ccc;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.tableCell {
  border: 1px solid #ccc;
  padding: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Column widths */
.table th:first-child,
.table td:first-child {
  width: 40%;
}

.table th:not(:first-child),
.table td:not(:first-child) {
  width: 10%;
}

/* Rest of the styles remain unchanged */
.greenRow {
  background-color: rgb(13, 51, 26);
}

.loadingBarContainer {
  width: 100%;
  background-color: #43464b;
  height: 1rem;
  margin-bottom: 1rem;
  border-radius: 9999px;
  overflow: hidden;
}

.loadingBarFill {
  background-color: #3b82f6;
  transition: width 0.3s ease-in-out;
  height: 100%;
}

.loadingText {
  text-align: center;
  margin-top: 0.5rem;
}

.button {
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.buttonBlue {
  background-color: #3b82f6;
}

.buttonBlue:hover {
  background-color: #2563eb;
  cursor: pointer;
}

.buttonGreen {
  background-color: #10b981;
}

.buttonGreen:hover {
  background-color: #059669;
  cursor: pointer;
}

.textRed {
  color: #ef4444;
}

.textGreen {
  color: #10b981;
}

.textCenter {
  text-align: center;
}

.buttonGray {
  background-color: #43464b;
  cursor: not-allowed;
}

.buttonGray:hover {
  background-color: #51555c;
}